<div class="container col-md-6 offset-md-3 card" style="padding:0px">
  
  <div class="card-header">
  <h3><%= @person.name %></h3>
  </div>
  
  <div class="card-body">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Email:</strong>
    <%= @person.email %>
  </p>
  </div>

  <div class="card-footer">
    <%= link_to 'Edit', edit_event_person_path(@event, @person) %> |
    <%= link_to 'Back', event_path(@event) %>
  </div>
</div>
