<div class="container col-md-6 offset-md-3 card" style="padding:0px">
  <div class="card-header">
    <h1><%= @event.name %></h1>
  </div>

  <div class="card-body">
    <p id="notice"><%= notice %></p>

    <!-- Event Details -->
    <div style="margin-bottom:40px;">
      <h3> Details </h3>
      <hr>

      <div class="form-group">
        <strong>Scheduled start date:</strong>
        <%= @event.start_date %>
      </div>

      <div class="form-group">
        <strong>Completion Date:</strong>
        <%= @event.end_date %>
      </div>
    </div>

    <!-- Event Participants -->
    <div style="margin-bottom:40px">
      <h3> Participants </h3>
      <hr>
      <div style="margin-left:10px">
        <% if @people.length > 0 %>
          <% @people.each do |person| %>
            <%= link_to "#{person.name}", event_person_path(@event, person)%><br/>
          <% end %>
        <% else %>
          <p>No Participants</p>
        <% end %>
      </div>

      <br/>
      <%= link_to 'Add Participant', new_event_person_path(@event) %>
    </div>

    <!-- Event Expenses -->
    <div style="margin-bottom:40px;">
      <h3> Expenses </h3>
      <hr>
      <div style="margin-left:10px">
        <% if @expenses.length > 0 %>
          <% @expenses.each do |expense| %>
            <%= link_to "#{expense.name}", event_expense_path(@event, expense)%><br/>
          <% end %>
        <% else %>
          <p>No expenses</p>
        <% end %>
      </div>

      <br/>
      <%= link_to 'Add Expense', new_event_expense_path(@event) %>
    </div>

    <!-- Event User Balances -->
    <div style="margin-bottom:40px">
      <h3> User Balances </h3>
      <hr>
      <div style="margin-left:10px">
        <table class="table table-bordered table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <td>Participant</td>
              <td>Net Balance</td>
            </tr>
          </thead>
          <tbody>
          <% @balances.each do |person, balance| %>
            <tr>
              <td><%= "#{person.name}" %></td>
              <% if balance >= 0 %>
                <td style="color:green"><%= "#{number_to_currency(balance)}" %></td>
              <% else %>
                <td style="color:red"><%= "#{number_to_currency(balance)}" %></td>
              <% end %>
            </tr>
          <% end %>
          <tbody>
        </table>
      </div>
    </div>

    <!-- Current Payments -->
    <div>
      <h3>Most Efficient Required Payments</h3>
      <hr>
      <div style="margin-left:10px">
        <% @payments.each do |payee, recipients| %>
          <% recipients.each do |recipient| %>
            <p>
            <b><%= "#{payee.name}" %></b> owes <b><%= "#{recipient.receiver.name}" %></b> <%= "#{number_to_currency(recipient.amount.abs)}" %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  
  </div> 
  <div class="card-footer">
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </div>

</div>
